.culturePos{
    background:rgba(47,63,78,1);
    width: 100%;
    border: .1px solid transparent;
    position: relative;
    .staff-row{
        display: flex;
        justify-content: center;
        width: 100%;
        .row-staff{
            width: 92%;
            height: 382px;
            margin-top: 110px;
            background-color: #22303C;
            border-radius: 5px;
        }
    }
    .tableTitle{
        margin-top: 80px;
        margin-left: 4%;
    }
    .tableTitleTwo{
        margin-left: 4%;
        margin-top: 40px;
    }
    .row{   
        margin-top: 80px;
        .col-50{
            width: 45%;
            height: 382px;
            display: inline-block;
            background-color: #22303C;
            margin-top: 30px;
            border-radius: 5px;
        }
        .col-50:nth-child(odd){
            margin-right: 10px;
            margin-left: 4%;
        }
        .col-50:nth-child(even){
            margin-left: 10px;
        }
    }
    .row:last-child{
        margin-bottom: 20px;
    }
}