.table-title{
    display:flex;
    position:absolute;
    color: #fff;
    font-size: 14px;
    margin-left: 22px;
    margin-top: 15px;
    img{
        width:4px;
        height:18px;
    }
    span{
        margin-left: 8px;
    }
}